body, html{
  padding: 0;
  margin: 0;
  padding: 0;
  background-color: #CCC9C9;
}
body {
    opacity: 1;
    transition: 0.5s opacity;
}
body.fade-out {
    opacity: 0;
    transition: none;
}
li:hover {
  cursor: pointer;
  color: yellow;
}
.top {
  height: 120px;
  width: 100%;
  justify-content: center;
  background-color: grey;
  display: flex;
}
#title{
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 4em;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 0;
  margin-top: 0.8%;
}
#logo{
  display: flex;
  padding: 15px;
  border-radius: 130px;
  margin-bottom: 0;
  margin-top: 0.5%;
}
.toolbar{
  background-color: black;
  color: white;
  height: 30px;
}
#list{
  list-style-type: none;
  font-size: 15pt;
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  justify-content: space-between;
}
li{
  margin: 0 30px;
  margin-top: 3px;
}

h2,h3 {
  font-size: 3em;
  text-align: center;
  color: yellow;
  font-family: 'Oswald', sans-serif;
  margin-top: 20px;
  text-shadow: 1.5px 1.5px black;
}
.abouttxt {
  font-size: 2em;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  margin: 10vh 10vw;
}

h4 {
  color: black;
  font-size: 30px;
  text-align: center;
  text-shadow: rgba(255, 255, 126, 1);
}

.card1, .card2, .card3, .card4, .card5, .card6, .card7 {
  box-shadow: 0px 0px 4px 4px rgba(255, 255, 126, 1);
  max-width: 300px;
  margin: auto;
  text-align: center;
  header: center;
  color: black;
  font-size: 18px;
  font-family: 'Ubuntu', sans-serif;
  float: left;
  margin: 30px;
  height: 410px;
  width: 140px;
}

.description {
  color: black;
  font-size: 20px;
  text-align: center;
}
.footer{
  position: absolute;
  bottom: 200;
  width: 100%;
  height: 151px;
  margin-top: 20px;
  background-color: #0b0b0b;
  text-align: center;
  color: yellow;
  font-family: 'Oswald', sans-serif;
  border-color: black;
  border: 10px;
}
a{
  color: yellow;
  transition: 0.2s ease;
}
a:hover{
  transition: 0.2s ease;
  font-size: 1.2em;
  color: white;
}
